body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png'), linear-gradient(to right, #141e30, #243b55);
  background-size: cover;
  color: white;
}
